<!DOCTYPE html>
<html>

<head>
  <!-- templates are referred -->
  <% include partials/template/head.ejs %>
</head>

<body>
  <!-- templates are referred -->
  <% include partials/template/header.ejs %>
    <section class="layout">
      <div class="primary">
        <!-- templates are referred -->
        <% include partials/content/speakerslist.ejs %>
      </div>
      <!-- primary -->
      <div class="secondary">
        <!-- templates are referred -->
        <% include partials/content/speakerstitle.ejs %>
          <% include partials/template/footer.ejs %>
      </div>
      <!-- secondary -->
    </section>
    <!-- layout -->
    <% include partials/template/footer.ejs %>

      <% include partials/template/jsdefault.ejs %>

</body>

</html>
