<header>
  <div class="hero">
    <section class="layout">
      <div class="branding">
        <a href="/">
          <img src="/images/header1.svg" alt="meetUpHeader">
        </a>
      </div>
    </section>
  </div>
  <!-- hero-->
  <div class="navigation">
    <section class="layout">
      <ul class="nav">
        <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/speakers"><i class="fa fa-users"></i>Speakers</a></li>
      </ul> <!--navigation-->
    </section>
  </div>
</header>
