<article class="nextmeeting">
  <h1>Next Meeting
</h1>
  <p>
    <%= appdata.meeting.date %>,
      <%= appdata.meeting.time %>,
        <%= appdata.meeting.where.name %>,
          <%= appdata.meeting.where.address %>

  </p>
</article>
